<header>
    <div id="codeial">
        Codeial
    </div>
    <div id="route-buttons">
        <ul>
            <% if (locals.user){ %>
                <li>
                    <a href="/users/profile/<%=locals.user._id%>">
                        <%= user.name %>
                    </a>
                </li>

                <li>
                    <a href="/users/sign-out">SignOut</a>
                </li>
            <% }else{ %>
                <li>
                    <a href="/users/sign-in">SignIn</a>
                </li>
                <li>
                    <a href="/users/sign-up">SignUp</a>
                </li>
            <% } %>
        </ul>
    </div>
</header>